<br>
<br>
<br>
        <section>
        <div align="center" class="example-label">
        <img mat-card-image src="https://i.pinimg.com/originals/97/2d/4d/972d4d1e53f0322522c994dccd1a8a02.jpg" class="user">
            <h2>Gato</h2>
            <a class="card-button" target="_blank" rel="noopener">
                <span>Possui diabetes.</span>
            </a>
            <button mat-raised-button color="accent" class="maxwidth" >Editar perfil</button>
            <button mat-raised-button (click)="logOut()" color="accent" class="maxwidth" >Log out</button>
        </div>
        </section>

<br>
<br>

