<br>
<br>
<mat-grid-list [cols]=2 rowHeight="2:1" (window:resize)="handleSize($event)">
    <mat-grid-tile>
        <div class="card">
            <section>
                <div class="example-label">
                    <h2>Conheça o projeto</h2>
                </div>
                <div class="example-label">
                    <p>NutriSafe, com o lema "comer com confiança é para todos", tem o intuito deNutriSafe, com o lema
                        "comer com confiança é para todos", é um aplicativo que visa
                        retornar ao usuário os ingredientes presentes em determinado produto, seja pelo scanner do
                        código de barras ou pelo número digitado, e comparar com os ingredientes restritos informados
                        pelo usuário</p>
                </div>
                <div class="example-button-row">
                    <button mat-raised-button color="accent" routerLink="scanner" >Escaneie um produto</button>
                </div>
            </section>
        </div>
    </mat-grid-tile>
    <mat-grid-tile><img mat-card-image src="https://i.imgur.com/FDuI9jD.png"></mat-grid-tile>
</mat-grid-list>

<br>
<br>

<div align="center">
    <h2>Objetivos</h2>
</div>

<section>
    <div class="card-container">
        <a class="card-button" target="_blank" rel="noopener">
            <span>Facilitar o usuário na escolha de seus alimentos</span>
        </a>
        <a class="card-button" target="_blank" rel="noopener">
            <span>Exibir informações nutricionais</span>
        </a>
        <a class="card-button" target="_blank" rel="noopener">
            <span>Apresentar um resumo sobre o ingrediente predominante</span>
        </a>
    </div>
</section>

<br>
<br>

