<mat-toolbar>
    <button mat-icon-button class="example-icon" routerLink="home">
        <img alt="NutriSafe Logo" src="https://i.imgur.com/FohIXdz.png" />
    </button>
    <span>NutriSafe</span>
    <span class="spacer"></span>
    <button mat-icon-button class="example-icon" routerLink="home" ><mat-icon>home</mat-icon></button>
    <button mat-icon-button class="example-icon" routerLink="busca" ><mat-icon>search</mat-icon></button>
    <button mat-icon-button class="example-icon" routerLink="scanner" ><mat-icon>settings_overscan</mat-icon></button>
    <button mat-icon-button class="example-icon"><mat-icon>favorite</mat-icon></button>
    <button mat-icon-button class="example-icon" routerLink="cadastro" ><mat-icon>logout</mat-icon></button>
    <button mat-icon-button class="example-icon" routerLink="perfil" ><mat-icon>settings</mat-icon></button>
</mat-toolbar>
<router-outlet></router-outlet>
