/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ngx-toastr/toastr.css';
html, body { height: 100%; }
body { margin: 0; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif }

:root {
    --backGround-collor: #812FB8;
    --button-collor: #74976E;
    --text-collor: #fff;
}